In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("bill_risya.csv")

In [3]:
data.head(5)

   Variance  Skewness  Curtosis  Entropy  Class
0   3.22120    8.6221   -2.8075 -0.44299      0
1   4.34390    8.1274   -2.4382 -1.42210      0
2   3.82200   -2.6385    1.9246  0.10643      0
3   3.45220    9.5268   -4.0116 -3.39440      0
4   0.36964   -4.4332    4.3718 -0.98880      0

In [4]:
data.shape

(1372, 5)

In [5]:
data.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [6]:
data_clean = data.dropna()
data_clean.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433116     1.922019     1.397525    -1.191365     0.444606
std       2.842008     5.868590     4.309908     2.100827     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586000     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [7]:
print(data_clean.shape)

(1372, 5)

In [8]:
data_clean.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [9]:
num_of_numerical_cols = data_clean._get_numeric_data().columns.shape[0]
print(num_of_numerical_cols, 'numerical columns')
name_of_numerical_cols = data_clean._get_numeric_data().columns
print(name_of_numerical_cols)

5 numerical columns
Index(['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class'], dtype='object')

In [10]:
x = data_clean[['Variance','Skewness','Curtosis','Entropy','Class']]
y = data_clean[['Class']]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.4, random_state = 0 )

In [11]:
print('x_train = ', x_train.shape)
print('x_test = ', x_test.shape)
print('y_train = ', y_train.shape)
print('y_test = ', y_test.shape)

x_train =  (823, 5)
x_test =  (549, 5)
y_train =  (823, 1)
y_test =  (549, 1)

In [12]:
classifier=RandomForestClassifier(n_estimators=20, random_state = 0)
classifier.fit(x_train,y_train)

<ipython-input-12-bbb53ea21c9a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20, random_state=0)

In [13]:
predictions=classifier.predict(x_test)

In [14]:
confusion_array = sklearn.metrics.confusion_matrix(y_test,predictions)
print(confusion_array)

[[306   0]
 [  0 243]]

In [15]:
print('TN = ', confusion_array[0,0] ) # True Negative
print('FN = ', confusion_array[1,0] ) # False Negative
print('TP = ', confusion_array[1,1] ) # True Positive
print('FP = ', confusion_array[0,1] ) # False Positive

TN =  306
FN =  0
TP =  243
FP =  0

In [16]:
classifier.score(x_test, y_test)

1.0

In [17]:
sklearn.metrics.accuracy_score(y_test, predictions)

1.0